.login-div input{
  height: 40px;
  width: 270px;
}
.login-div #btn{
  background-color: wheat;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}