.home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.home-cards img {
  aspect-ratio: 16/9;
  border-radius: 5px;
}
.home-card{
  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home-button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.home-button:hover {
  background-color: #374151;
}

.home-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .home-button {
    padding: .75rem 1.5rem;
  }
}


/* .maps-container{
  position: relative;
	background: #000;
	z-index: 1;
	margin-top: 30px;
}
.map-container{
  display: block;
  position: absolute;
	top: 0; left: 0;
	background: yellow;
} */
/* .leaflet-container {
  position: absolute;
  z-index: -1;
    height: 400px;
    width: 400px;
    position: absolute;
} */


/* Responsive --------------------------------- */
@media only screen and (max-width: 1175px) {
  .home-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: none;
  }
}

@media only screen and (max-width: 770px) {
  .home-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4%;
  }
  
}