.not-found {
  min-height: 90vh;
}
.not-found h2{
  font-weight: 700;
  font-family: sans-serif;
}
.found-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 20px;
}
